@tailwind base;
@tailwind components;
@tailwind utilities;

.layout-grid {
  /* --grid-gutter: theme('spacing.20'); */

  display: grid;
  grid-template-columns:
    minmax(theme('spacing.5'), 1fr)
    minmax(0, theme('screens.3xl'))
    minmax(theme('spacing.5'), 1fr)
  ;

  & > *:not([class*="col-span"]) {
    grid-column: 2 / 3;
  }
}

.col-center {
  grid-column: 2 / 3;
}

.ui-collapse-open {
  padding-bottom: theme('spacing.36');

  &::before {
    display: none;
  }
}

.ui-collapse {
  &::before {
    content: '';
    height: 28%;
    background: linear-gradient(rgba(255, 255, 255, 0.001), theme('colors.base-100'));
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: theme('zIndex.30');
    pointer-events: none;
  }
}

.ui-collapse-hidden {
  &::before {
    display: none;
  }
}

.ui-dropdown {
  position: relative;
}

.ui-dropdown-panel {
  position: absolute;
  top: calc(100% + theme('spacing.2'));
  padding: theme('spacing.2');
  background-color: theme('colors.neutral');
  width: theme('spacing.52');

  @apply shadow-lg rounded-box z-50;
}

.ui-dropdown-item {
  @apply transition-colors rounded-lg;

  width: 100%;
  display: flex;
  padding: theme('spacing.2');

  &.active {
    background-color: theme('colors.base-100');
  }
}

.poster-effect {
  @apply transition-all border-[3px] border-transparent overflow-hidden;

  &:hover, &:focus-visible {
    @apply scale-[0.99] border-accent outline-none;
  }
}

.slider-poster-card {
  height: 100%;
  @apply rounded-md;
}

.section-title {
  font-size: theme('fontSize.3xl');
  font-weight: theme('fontWeight.bold')
}

.swiper-notification {
  display: none;
}

.swiper-poster-slide {
  aspect-ratio: 2 / 3;
  height: unset !important;
}

.release-tr:first-child td {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
